body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: var(--Very-Dark-Blue-Text);
    background-color: var(--White-BG);
}

:root {
    --lime-green: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);
    --facebook: hsl(208, 92%, 53%);
    --twitter: hsl(203, 89%, 53%);
    --instagram-first: hsl(37, 97%, 70%);
    --instagram-second: hsl(329, 70%, 58%);
    --youTube: hsl(348, 97%, 39%);
    --background-spinner: #eff3f8;
    /* Dark Theme */
    --Very-Dark-Blue-BG: hsl(230, 17%, 14%);
    --Very-Dark-Blue-Top-BG-Pattern: #f8f9fe;
    --Dark-Desaturated-Blue-Card-BG: hsl(228, 28%, 20%);
    --Desaturated-Blue-Text: hsl(228, 34%, 66%);
    --White-Text: hsl(0, 0%, 100%);
    /* Light Theme */
    --White-BG: hsl(0, 0%, 100%);
    --Very-Pale-Blue-Top-BG-Pattern: hsl(225, 100%, 98%);
    --Light-Grayish-Blue-Card-BG: hsl(227, 47%, 96%);
    --Dark-Grayish-Blue-Text: hsl(228, 12%, 44%);
    --Dark-Grayish-Blue-Text-h2: hsl(228, 12%, 44%);
    --Very-Dark-Blue-Text: hsl(230, 17%, 14%);
    /* Toggle */
    --Toggle: hsl(230, 22%, 74%);
}

.wrapper {
    padding: 0 30px;
}

.header {
    background: var(--Very-Dark-Blue-Top-BG-Pattern);
    padding-bottom: 100px;
    border-radius: 0 0 20px 20px;
    padding-top: 2em;
}

.header-total {
    color: var(--Dark-Grayish-Blue-Text);
    margin: .5em 0;
    font-weight: bold;
    border-bottom: 2px solid rgb(182, 182, 182);
    padding-bottom: 1.5em;
    font-size: .9em;
}

h1 {
    margin: 0;
    font-size: 1.8em;
}

.top-cards {
    margin-top: -50px;
    margin-bottom: 3em;
}

.grid {
    display: grid;
    grid-row-gap: 25px;
}

.dark-mode {
    display: flex;
    justify-content: space-between;
}

.dark-mode-title {
    color: var(--Dark-Grayish-Blue-Text);
    font-weight: 600;
}

.checkbox {
    display: none;
}

.checkbox:checked ~ .switch::before { /* cuando el hermano de checkbox esté checado */
    transform: translateX(0);
}

.switch {
    height: 40px;
    display: block;
    border-radius: 20px;
    background: var(--Toggle);
    width: 80px;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none; /* no me seleccione texto al dar clicks rapidos */
}
.switch::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-color: var(--background-spinner);
    border-radius: 50%;
    transform: translateX(40px);
    transition: .3s;
    will-change: transform;
}

.card {
    border-radius: 8px;
    overflow: hidden;
    background: var(--Light-Grayish-Blue-Card-BG);
    text-align: center;
    padding: 1em 0;
    position: relative;
}

.card:before {
    content: "";
    height: 4px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.card.facebook::before {
    background: var(--facebook);
}

.card.twitter::before {
    background: var(--twitter); 
}

.card.instagram::before {
    background-image: linear-gradient(to right, var(--instagram-first) 0%, var(--instagram-second) 100%); 
}

.card.youtube::before {
    background: var(--youTube); 
}

.card-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Dark-Grayish-Blue-Text);
    font-size: .8em;
    font-weight: bold;
}

.card-title img {
    margin-right: 8px;
}

.card-followers-number {
    font-size: 50px;
    font-weight: 700;
}

.card-followers-title {
    display: block;
    text-transform: uppercase;
    color: var(--Dark-Grayish-Blue-Text);
    letter-spacing: 4px;
    font-size: .8em;
}

.card-today {
    margin-top: 20px;
    color: var(--lime-green);
    font-size: .7em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-today img {
    margin-right: 5px;
}

.overview {
    padding-bottom: 2.5em;
}

h2 {
    color: var(--Dark-Grayish-Blue-Text-h1);
}

.card-small {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1em;
    background: var(--Light-Grayish-Blue-Card-BG);
    border-radius: 8px;
    padding: 1.5em;
}

.card-small p {
    margin: 0;
}

.card-small-views {
    color: var(--Dark-Grayish-Blue-Text);
    font-weight: bold;
    font-size: .9em;
}

.card-small-icon {
    text-align: right;
}

.card-small-number {
    font-weight: bold;
    font-size: 1.5em;
    line-height: .9;
}

.card-small-percentage {
    text-align: right;
    display: flex;
    align-items: flex-end;
    color: var(--lime-green);
    justify-content: flex-end;
    font-size: .8em;
    font-weight: bold;
}

.card-small-percentage.is-danger, .is-danger {
    color: var(--bright-red);
}

.card-small-percentage span {
    display: flex;
    align-items: center;
}

.card-small-percentage img {
    margin-right: 3px;
}

@media screen and (min-width: 480px) {
    .grid {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 25px;
    }
    .wrapper {
        max-width: 1440px;
        margin: auto;
    }
}

@media screen and (min-width: 768px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 25px;
    }
}

@media screen and (min-width: 1024px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 25px;
    }
    .header-total {
        border: none;
    }
    .header-grid {
        display: grid;
        grid-template-columns: 1fr 185px;
    }
}

.is-light-mode {
    --White-BG: hsl(0, 0%, 100%);
    --Very-Pale-Blue-Top-BG-Pattern: hsl(225, 100%, 98%);
    --Light-Grayish-Blue-Card-BG: hsl(227, 47%, 96%);
    --Dark-Grayish-Blue-Text: hsl(228, 12%, 44%);
    --Dark-Grayish-Blue-Text-h2: hsl(228, 12%, 44%);
    --Very-Dark-Blue-Text: hsl(230, 17%, 14%);
}

.is-dark-mode {
    --Very-Dark-Blue-Text: var(--White-Text);
    --White-BG: var(--Very-Dark-Blue-BG);
    --Light-Grayish-Blue-Card-BG: var(--Dark-Desaturated-Blue-Card-BG); 
    --Very-Dark-Blue-Top-BG-Pattern: hsl(232, 19%, 15%);
    --Toggle: linear-gradient(to right, hsl(210, 78%, 56%) 0%, hsl(146, 68%, 55%) 100%);
    --Dark-Grayish-Blue-Text: var(--Desaturated-Blue-Text);
    --background-spinner: #262944;
    --Dark-Grayish-Blue-Text-h1: var(--White-Text);
}
@media (prefers-color-scheme: Dark) {
    :root {
        --Very-Dark-Blue-Text: var(--White-Text);
        --White-BG: var(--Very-Dark-Blue-BG);
        --Light-Grayish-Blue-Card-BG: var(--Dark-Desaturated-Blue-Card-BG); 
        --Very-Dark-Blue-Top-BG-Pattern: hsl(232, 19%, 15%);
        --Toggle: linear-gradient(to right, hsl(210, 78%, 56%) 0%, hsl(146, 68%, 55%) 100%);
        --Dark-Grayish-Blue-Text: var(--Desaturated-Blue-Text);
        --background-spinner: #262944;
        --Dark-Grayish-Blue-Text-h1: var(--White-Text);
    }
}